$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: "Microsoft Yahei";
}

.single-page {
  color: #575c5e;
}

.single-page-content {
  padding: 30px 0 80px;
}

.btn-black { 
  color: #ffffff; 
  background-color: #04000A; 
  border-color: #433F57; 
} 
 
.btn-black:hover, 
.btn-black:focus, 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
  color: #ffffff; 
  background-color: #746B80; 
  border-color: #433F57; 
} 
 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
  background-image: none; 
} 
 
.btn-black.disabled, 
.btn-black[disabled], 
fieldset[disabled] .btn-black, 
.btn-black.disabled:hover, 
.btn-black[disabled]:hover, 
fieldset[disabled] .btn-black:hover, 
.btn-black.disabled:focus, 
.btn-black[disabled]:focus, 
fieldset[disabled] .btn-black:focus, 
.btn-black.disabled:active, 
.btn-black[disabled]:active, 
fieldset[disabled] .btn-black:active, 
.btn-black.disabled.active, 
.btn-black[disabled].active, 
fieldset[disabled] .btn-black.active { 
  background-color: #04000A; 
  border-color: #433F57; 
} 
 
.btn-black .badge { 
  color: #04000A; 
  background-color: #ffffff; 
}

.site-search-banner {
  margin: 98px 0 25px 0;

  img {
    display: block;
    margin: 0 auto;
  }
}
.site-search {
  margin: 0 0 98px 0;
}

.dash-bg .site-search {
  margin-bottom: 20px;
}

#site-search-key {
  width: 100%;
  border-radius: 18px;
}

#site-search-submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  text-align: center;
  border-radius: 18px;
}

#site-search-submit-extend {
  width: 82px;
  border-radius: 18px;
}

.site-search-wrap {
  position: relative;
  float: left;
  width: 83%;
}

.search-des {
  clear:both;
  margin-top: 50px;
}

#page-container .table-responsive {
  background: #fff;
  font-size: 12px;
  color: #333;
  border-left: 0;

  .title {
    background: #f7f7f7;
    color: #888888;
  }

  .table-bordered {
    border-left: 0;
    border-right: 0;
  }

  .no-left-border {
    border-left: 0;
  }

  td {
    padding-top: 13px;
    padding-bottom: 13px;
    line-height: 15px;
    border-right: 0;
  }
}


#page-header {
  height: 61px;
  border-bottom: 1px solid #e6e5e6;
  padding: 8px 0 0 0;


  #logo {
    width: 148px;
    height: 44px;
    margin: 0;

    a {
      display: block;
      width: 100%;
      height: 100%;
      background: url(../images/logo.png);
      text-indent: -9999px;
    }
  }

  #page-nav {
    font-size: 16px;
    padding: 10px 0 0 80px;

    li {
      margin-right: 30px;
    }

    a {
      color: #444a4d;
      padding-bottom: 17px;

      &:hover {
        color: #0084c9;
        border-bottom: 4px solid #0084c9;
        text-decoration: none;
      };
    }

    .current a {
      color: #0084c9;
      border-bottom: 4px solid #0084c9;
    }

  }

  #user-login {
    a { 
      font-size: 12px;
      color: #313233;
      margin-left: 15px;
      line-height: 44px;
    }
  }

}

#page-footer {
  background: #1e1e1e;
  padding-top: 20px;
  color: #797979;
  padding-bottom: 15px;

  a {
    color: #797979;
    margin: 0 15px;
  }

  .copy-right {
    color: #424242;
  }

}

#index-info {
  text-align: center;

  h3 {
    font-size: 14px;
    color: #474747;
  }

  p {
    color: #adadb2;
    font-size: 12px;
  }

  .icon-custom {
    display: block;
    width: 96px;
    height: 96px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .icon-01 { background-position: 0 0;}
  .icon-02 { background-position: -112px 0;}
  .icon-03 { background-position: -112px*2 0;}
  .icon-04 { background-position: -112px*3 0;}
}

.page-form {
  background: #fff;
  border: 1px solid #dfdedf;
  margin-bottom: 40px;
  position: relative;
  font-size: 12px;

  .page-form-info {
    padding: 98px 0 30px 0;
  }

  .form-group {
    position: relative;
  }

  .icon-custom {
    display: block;
    width: 92px;
    height: 116px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    position: absolute;
    left:50%;
    margin-left:-46px;
    top: -58px;
  }

  .icon-custom-register { background-position: -96px -112px;}
  .icon-custom-forget-pwd { background-position: -96px*2 -112px;}
  .icon-custom-login { background-position: 0 -112px;}

  .input-round { border-radius: 18px; }
  .input-label-round {
    border-top-left-radius: 18px; 
    border-bottom-left-radius: 18px; 
    width: 98px;
    text-align: right;
    background: #fcfcfc;
    color: #505659;
  }

  .input-label-right-round {
    border-radius: 18px; 
    background: #0088cb;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    text-align: center;
    z-index: 9999;
    height: 34px;
  }

  .input-label-right-round-img {
    
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    text-align: center;
    z-index: 9999;
    height: 34px;
    padding: 0;
    border-top-right-radius: 18px; 
    border-bottom-right-radius: 18px; 

    img {
      border-top-right-radius: 18px; 
      border-bottom-right-radius: 18px; 
      height: 32px;
      border-left: 1px solid #ccc;
    }
  }

  .input-with-right-lable {
    width: 92%;
  }

  .input-icon-label-round {
    border-top-left-radius: 18px; 
    border-bottom-left-radius: 18px; 
    border-right: none 0;
    background: #fff;
  }

  #site-login input.input-round {
    border-left: 0;
  }

  #site-login .glyphicon {
    position: relative;
    top: 0;
  }
  
  .forget_pwd_word {
    line-height: 30px;
  }
}

.single-page-form {
  background: #f7f7f7;
  padding-top: 90px;
}

#page-container {
  min-height: 550px;
}

// dash
.dash-bg {
  background: #f7f7f7;
  padding: 25px 0;
  color: #242424;

  .col-md-2 { 
    background: #fff;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    z-index: 9999;
    position: relative;
    left: 1px;
  }
  .col-md-10 { 
    background: #fff;
    border: 1px solid #ccc;
    min-height: 500px;
  }

  .my-collect {
    background: #fff;
    border: 1px solid #ccc;
    min-height: 500px;
  }
}

.breadcrumb {
  background: transparent;
  font-size: 12px;
  margin: -15px auto 5px;
}

.ciss_btn {
  .btn {
    margin-left: 10px;
    background: #fff;
    color: #0084c9;

    &:hover{
      background: #0084c9;
      color: #fff;
    };
  }
}

.top-detail {
  
  color: #444a4d;
  font-size: 12px;

  .top-detial-title {
    .btn {
      margin-left: 10px;
      background: #fff;
      color: #0084c9;

      &:hover{
        background: #0084c9;
        color: #fff;
      };
    }
    
    h2 {
      font-size: 20px;
      line-height: 35px;
      color: #0084c9;
      margin-bottom: 20px;
    }
  }

  .col-md-8 .row {
    margin-top: 15px;
  }

}

.bottom-detail {
  
  h2 {
    font-size: 18px;
    color: #666;
    margin: 30px auto 15px;
  }
}

.dash-title {
  font-size: 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  strong {
    font-weight: normal;
    margin-left: 15px;
    font-size: 14px;

    em {
      font-style: normal;
      color: #f00;
    }
  }
}
.item-extend-option-wrap {
  text-align: center;
}

.item-extend-option {
  width: 18%;
  float: left;
  background: #fff;
  margin: 1%;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
 
  a {
    color: #333;
    &:hover{
      color: #333;
      text-decoration: none;
    };
  }
  

  p {
    height: 28px;
  }

  img {
    width: 60%;
    margin: 20px auto;
  }
}

.user-basic-info {


  font-size: 14px; 
  padding: 10px 0;

  .basic-info-title {
    font-weight: normal;
    width: 60px;
    text-align: right;
    display: inline-block;
    line-height: 40px;
    margin-right: 15px;
  }

}

.basic-handle-bar {
  padding-left: 30px;
  a {
    margin-right: 20px;
  }
}

.border-box {
  border: 1px solid #ccc;
  background: #fff;
}

.cross-box {
  margin: 20px 0;
}

.top-detail {
  border-bottom: 1px solid #ccc;
}

.detail-right-box {
  border-left: 1px solid #ccc;
  min-height: 300px;
  font-size: 14px;

  a {
    color: #333;
  }

  .see-more {
    color: #999;
  }

  .detail-right-box-datasheet {
    strong {
      font-style: normal;
      margin-top: 5px;
      display: block;
    }
  }

  .detail-right-box-techdoc {
    img {
      width: 14px;
    }

    li {
      line-height: 25px;
    }
  }

  .col-md-6 {
    
    padding-top: 20px;
    padding-left: 40px;


    h3 {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}

.correct-page {
  
  .col-md-12 {
    position: relative;
    padding-top: 30px;
    margin-top: 40px;
  }

  input {
    width: 100%;
    border-radius: 2px;
    position: relative;
    top: -4px;
  }

  .correct-page-title {
    color: #0084c9;
    font-size: 20px;
    position: absolute;
    top: -35px;
    left: 20px;
    background: #fff;
    padding: 0 10px;
  }

  .row {
    margin-bottom: 20px;
  }

  
}

.correct-page-handle {
  padding: 10px 0 20px;
}

.single-page-nav {

  ul {
    border-bottom: 1px solid #ccc;
    padding-left: 2%;
  }
  
  padding-top: 40px;
  
  .single-page-nav & {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.single-page-nav li {
  width: 16%;
  text-align: center;
  margin: 0;
  height: 40px;
  line-height: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
  position: relative;
  top: 1px;

  &:hover{
    cursor: pointer;
  };

  &.current {
    color: #0084C9;
    border-bottom: 1px solid #0084C9;

    a {
      color: #0084C9;
    }

  }

  img {
    margin-right: 5px;
  }

  a {
    color: #666;

    &:hover{
      text-decoration:none;
      color: #0084C9;
    };

    &.current {
      color: #0084C9;
    }
  }
  
}

.user-dash-nav {
  
  padding: 0;

  li {
    height: 120px;
    
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    background: #F7F7F7;

    &.current {
      background: #fff;
      border-right: 1px solid #fff;
      border-left: 2px solid #0084C9;
      position: relative;
      left: -1px;

      a {
        color: #0084C9;
      }
    }

    a {
      display: block;
      padding-top: 10px;
      height: 100%;
      color: #666;

      &:hover{
        text-decoration:none;
        color: #0084C9;
      };

      &.current {
        color: #0084C9;
      }
    }


    img {
      display: block;
      margin: 10px auto;
    }
  }
}

#search-filter {
  
  tbody > tr > td {
    line-height: 25px;
    font-size: 12px;
    color: #424242;

    a {
      color: #424242;
    }
  }
  

  .search-filter-title {
    width: 155px;
    background: #F7F7F7;
    color: #97979b;
    text-align: right;
  }

  ul {
    margin-bottom: 0;
    li {
      margin-right: 0;

      &.current {
        a {
          color: #0084C9;
        }
      }

      a {
        &:hover{
          color: #0084C9;
          text-decoration: none;
        };
      } 
    }
  }
}

@media (max-width: $screen-xs-max) { 
  .site-search-wrap {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .site-search-wrap {
    width: 80%;
  }
 }
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .site-search-wrap {
    width: 85%;
  }

}
@media (min-width: $screen-lg-min) {
  .site-search-wrap {
    width: 88%;
  }
}
