$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: "Microsoft Yahei";
}

.btn-black { 
  color: #ffffff; 
  background-color: #04000A; 
  border-color: #433F57; 
} 
 
.btn-black:hover, 
.btn-black:focus, 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
  color: #ffffff; 
  background-color: #746B80; 
  border-color: #433F57; 
} 
 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
  background-image: none; 
} 
 
.btn-black.disabled, 
.btn-black[disabled], 
fieldset[disabled] .btn-black, 
.btn-black.disabled:hover, 
.btn-black[disabled]:hover, 
fieldset[disabled] .btn-black:hover, 
.btn-black.disabled:focus, 
.btn-black[disabled]:focus, 
fieldset[disabled] .btn-black:focus, 
.btn-black.disabled:active, 
.btn-black[disabled]:active, 
fieldset[disabled] .btn-black:active, 
.btn-black.disabled.active, 
.btn-black[disabled].active, 
fieldset[disabled] .btn-black.active { 
  background-color: #04000A; 
  border-color: #433F57; 
} 
 
.btn-black .badge { 
  color: #04000A; 
  background-color: #ffffff; 
}

.site-search-banner {
  margin: 98px 0 25px 0;

  img {
    display: block;
    margin: 0 auto;
  }
}
.site-search {
  margin: 0 0 98px 0;
}

#site-search-key {
  width: 100%;
  border-radius: 18px;
}

#site-search-submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  text-align: center;
  border-radius: 18px;
}

#site-search-submit-extend {
  width: 82px;
  border-radius: 18px;
}

.site-search-wrap {
  position: relative;
  float: left;
  width: 83%;
}

#page-header {
  height: 61px;
  border-bottom: 1px solid #e6e5e6;
  padding: 8px 0 0 0;


  #logo {
    width: 148px;
    height: 44px;
    margin: 0;

    a {
      display: block;
      width: 100%;
      height: 100%;
      background: url(../images/logo.png);
      text-indent: -9999px;
    }
  }

  #page-nav {
    font-size: 16px;
    padding: 10px 0 0 80px;

    li {
      margin-right: 30px;
    }

    a {
      color: #444a4d;
      padding-bottom: 17px;

      &:hover {
        color: #0084c9;
        border-bottom: 4px solid #0084c9;
        text-decoration: none;
      };
    }

    .current a {
      color: #0084c9;
      border-bottom: 4px solid #0084c9;
    }

  }

  #user-login {
    a { 
      font-size: 12px;
      color: #313233;
      margin-left: 15px;
      line-height: 44px;
    }
  }

}

#page-footer {
  background: #1e1e1e;
  padding-top: 20px;
  color: #797979;
  padding-bottom: 15px;

  a {
    color: #797979;
    margin: 0 15px;
  }

  .copy-right {
    color: #424242;
  }

}

#index-info {
  text-align: center;

  h3 {
    font-size: 14px;
    color: #474747;
  }

  p {
    color: #adadb2;
    font-size: 12px;
  }

  .icon-custom {
    display: block;
    width: 96px;
    height: 96px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .icon-01 { background-position: 0 0;}
  .icon-02 { background-position: -112px 0;}
  .icon-03 { background-position: -112px*2 0;}
  .icon-04 { background-position: -112px*3 0;}
}

.page-form {
  background: #fff;
  border: 1px solid #dfdedf;
  margin-bottom: 40px;
  position: relative;
  font-size: 12px;

  .page-form-info {
    padding: 98px 0 30px 0;
  }

  .form-group {
    position: relative;
  }

  .icon-custom {
    display: block;
    width: 92px;
    height: 116px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    position: absolute;
    left:50%;
    margin-left:-46px;
    top: -58px;
  }

  .icon-custom-register { background-position: -96px -112px;}
  .icon-custom-forget-pwd { background-position: -96px*2 -112px;}
  .icon-custom-login { background-position: 0 -112px;}

  .input-round { border-radius: 18px; }
  .input-label-round {
    border-top-left-radius: 18px; 
    border-bottom-left-radius: 18px; 
    width: 98px;
    text-align: right;
    background: #fcfcfc;
    color: #505659;
  }

  .input-label-right-round {
    border-radius: 18px; 
    background: #0088cb;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    text-align: center;
    z-index: 9999;
    height: 34px;
  }

  .input-label-right-round-img {
    
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    text-align: center;
    z-index: 9999;
    height: 34px;
    padding: 0;
    border-top-right-radius: 18px; 
    border-bottom-right-radius: 18px; 

    img {
      border-top-right-radius: 18px; 
      border-bottom-right-radius: 18px; 
      height: 32px;
      border-left: 1px solid #ccc;
    }
  }

  .input-with-right-lable {
    width: 92%;
  }

  .input-icon-label-round {
    border-top-left-radius: 18px; 
    border-bottom-left-radius: 18px; 
    border-right: none 0;
    background: #fff;
  }

  #site-login input.input-round {
    border-left: 0;
  }

  #site-login .glyphicon {
    position: relative;
    top: 0;
  }
  
  .forget_pwd_word {
    line-height: 30px;
  }
}

.single-page-form {
  background: #f7f7f7;
  padding-top: 90px;
}

#page-container {
  min-height: 550px;
}

@media (max-width: $screen-xs-max) { 
  .site-search-wrap {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .site-search-wrap {
    width: 80%;
  }
 }
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .site-search-wrap {
    width: 85%;
  }

}
@media (min-width: $screen-lg-min) {
  .site-search-wrap {
    width: 88%;
  }
}
